body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: normal;
    padding-top: 20px;
    background: #9c8c40;
}
img {
    max-width: 100%;
    width: 100%;
}
.footer-inner {
    background: #60412b;
    padding: 30px 0 0;
}
.footer-inner span {
    display: block;
    clear: both;
}
nav.topmenu {
    background-color: #e4dfca !important;
}
div#navbarsExampleDefault a.nav-link {
    color: #60412b;
}
div#navbarsExampleDefault  a:hover,
div#navbarsExampleDefault .active a {
    background-color: #60412b;
    color: #fff;
    border: 1px solid transparent;
}

.contact-person {
    text-align: left;
}
.contact-person h1 {
    margin: 10px 0 0;
    color: #60412b;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: normal;
}
.contact-person span {
    color: #9c8c40;
    font-size: 20px;
}
ul.address-details {
    list-style: none;
    text-align: left;
    padding: 0;
}
.contact-details {
    margin-top: 100px;
}
.contact-person span {
    color: #9c8c40;
    font-size: 20px;
}

ul.address-details li * {float: left;color: #60412b;font-size: 24px;}

ul.address-details li i.fa {
    color: #9c8c40;
    margin: 9px 15px 0 0;
    font-size: 20px;
}

ul.address-details li {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

main.container {
    padding-bottom: 81px;
    padding-top: 40px;
}
ul.address-details li address {
    margin-bottom: 0;
}
.starter-template {
    padding-left: 0;
    padding-right: 0;
}

.nav-tabs .nav-item { margin: 0px 1px 1px;}
.nav-link { padding: 10px 15px!important;}
.footer-nav ul li.nav-item a {
    color: #fff;
}
.zonereport {display: inline-block}
.dropdown-menu {
    padding: 0;
}
.dropdown-menu .dropdown-item :hover {
    background: transparent !important;
    color: #60412b !important;
}
li.nav-item.dropdown.show .dropdown-menu.show a.dropdown-item {
    background-color: #fff !important;
    color: #60412b !important;
    padding-left: 15px;
    padding-right: 15px;
    border: 0 !important;
    border-radius: 0 !important;
}
.nav-tabs .dropdown-menu{
    min-width: 108px;    border-radius: 0;
}
ul.navbar-nav.nav.nav-tabs {
    border: 0;
}
.footer-nav ul li.nav-item a:hover {
    text-decoration: underline;
}
.footer-inner * {
    font-size: 14px;
}
a {
    color: #9c8c40;
}
a:hover{
    color:#60412b
}
@media (min-width:1200px){

    nav.topmenu {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 420px){
    .footer-inner ul.nav.justify-content-center {
        flex-flow:  column nowrap;
    }
    .footer-inner ul.nav.justify-content-center li.nav-item {
        display: block;
    }
    .footer-inner ul.nav.justify-content-center li.nav-item a.nav-link {
        padding: 5px 15px !important;
    }
    main.container {
        padding-bottom: 129px;
    }
}